<drc-about-me></drc-about-me>
<div class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="col-9">
            <h2>Technologies:</h2>
            <p>APIs / JSON / Rest API</p>
               <p> AngularJS 1.5, Angular 2 (6)</p>
               <p> JavaScript, TypeScript, JQuery</p>
            <p>CSS (Sass) / Bootstrap (3,4) </p>
            <p> Git, Grunt</p>
            <p> HTML </p>

        </div>
    </div>
</div>
<div class="container-fluid my-3 bg-white">
    <div class="row justify-content-center">
        <div class="col-9">
            <h2>Experience:</h2>
            <p>
                <b>Flepron (flepron.com), Front End Developer </b>(12/2017 – present) <br>
                Developed web applications for different companies using AngularJS and Angular 2. One of the example with AngularJS    : https://ticket.gunsel.ua
            </p>
            <p>
               <b> PJSC «Ukrainian processing center» (UPC), Technical support specialist</b> (10/2016 – 06/2018)
            </p>
                <p><b>PJSC «Bank Mykhaylivskyi», Leading specialist in the field of payment card monitoring</b> (06/2014 – 06/2016)
                </p>


        </div>
    </div>
</div>