<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-4 py-4 text-center">
            <img src="../../images/me.jpg" class="rounded-circle" width="200" alt="">
        </div>
        <div class="col-8 py-4">
            <h1>Roman Mushchynskyi <br>
                <small>Front End Developer</small>
            </h1>
            <hr>
            <div class="row my-3">
                <div class="col-4">
                    <i class="fas fa-phone"></i>
                    <a href="tel:+380632638656">+38 063 263 8656</a>
                </div>
                <div class="col-4">
                    <i class="far fa-envelope"></i>
                    <a href="mailto:r.mushchynskyi@gmail.com" class="cg-white">r.mushchynskyi@gmail.com</a>
                </div>
                <div class="col-4">
                    <i class="fab fa-skype"></i>
                    <a href="#">live:r.mushchynskyi_2</a>
                </div>
            </div>
        </div>
    </div>
</div>